:root{
  --float-value: left;
}

.card_env_0, .card_env_1{
  margin: auto;
  padding: 2%;
  border-radius: 10px;
  width: 60%;
  margin-bottom: 2%;
}

.float-img{
  position: relative;
  top: -8px;
  float: var(--float-value);
  margin-right: 2%;
  padding: 1%;
  border-radius: 10px;
  width: 38%;
}


/*ESTILO 0*/

.card_env_0 {
  background-color: rgb(200, 211, 255);
}

.card_env_0 h2 {
  font-size: 1.5em;
  border-bottom: 2px solid rgb(42, 88, 255);
}

.card_env_0 h2, .card_env_0 p, .card_env_0 h3{
  margin-top: 1%;
  width: 95%;
  font-family: Arial, Helvetica, sans-serif
}

.card_env_0 h2, .card_env_0 p {
  padding: 1%;
  background-color: rgb(162, 182, 255);
  border-radius: 10px;
}

.card_env_0 .float-img {
  background-color: rgb(162, 182, 255);
}


/*ESTILO 1*/

.card_env_1 {
  background-color: rgb(60, 47, 82);
  border: 2.5px solid rgb(255, 0, 123);
}

.card_env_1 h2 {
  font-size: 1.5em;
  border-bottom: 2.5px solid rgb(255, 0, 123);
}

.card_env_1 h2, .card_env_1 p, .card_env_1 h3{
  margin-top: 1%;
  width: 95%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  color: rgb(193, 180, 216);
}

.card_env_1 h3, .card_env_1 p {
  border-bottom: 2.5px solid rgb(255, 0, 123);
}

.card_env_1 h2, .card_env_1 p {
  padding: 1%;
  background-color: rgb(81, 69, 99);
}

.card_env_1 .float-img {
  background-color: rgb(81, 69, 99);
}