.treeview_env_0 {
  background: #0000;
}

.treeview_env_1 {
  background: rgba(85, 190, 108, 0);
}

ul {
  list-style-type: square;
  margin: 0;
  padding: 0;
  background: #3bcfd8;
  display: inline;
  margin: 0 auto;
}

.ElementoCerrado {
  display: none;
  content: '\25B6';
}
